  body{
  /* background-image: url(barbie\ logo.png); */
  opacity: 0.3;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-attachment: fixed;
  background-size: cover;
  

}
   /* CSS property for header section */
 .header {
 background-color:white;
 padding: 15px;
 text-align:center;
 }
 /* CSS property for navigation menu */
 .nav_bar {
 overflow: hidden;
 background-color:rgb(144, 33, 27) ;
 }
 .nav_bar a {
 float: left;
 font-family: Arial, Helvetica, sans-serif;
 display: block;
 color:white;
 font-weight: bold;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 }


 .nav_menue a:hover {
 background-color: rgb(191, 34, 34);
 color: orange;
 }
 .footer{
 
 background-color:rgb(189, 26, 26);
 padding: 15px;
 text-align:center;
 }
h1{

}
img{
}
table{
background-color: rgb(226, 225, 226);
text-align: center;
background-size: cover;
background-attachment: fixed;
margin-left: 35%;
border: 4px solid rgb(213, 182, 243);
border-collapse: collapse;
padding: 36px;
font-size: 100%;
color:rgb(228, 221, 235)
}


div p{
color: rgb(146, 5, 38);
text-indent: 50px;
}
div > p {
color: rgb(128, 0, 19);
}
div ~ p {
background-color: rgb(255, 0, 51);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
